// font-family
$font-primary: "Noto Sans JP";

$font-secondary: "Noto Serif JP", serif;

// colors
$color-primary: #006699;
$color-accent: #ff7424;

$color-yellow: #3d3d31;
$color-dark-yellow: #fdc401;
$color-red: #d2272d;
$color-paragraph: #666666;

$color-white: #ffffff;

$color-black: #000;

$color-gray: #fbf9fa;
$color-gray-dark: #eeeeee;
$color-gray-dark--2: #999999;
$color-gray-dark--3: #e2e2e2;
